<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Study App - Usuarios
    </ion-title>
    <ion-buttons slot="end" (click)="logoutUser()">
      <ion-icon size="large" name="log-out-outline" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let usuario of usuarios">
        <ion-label>{{usuario.id}} - {{usuario.name}} - {{usuario.last_name}}</ion-label>
        <ion-icon slot="end" name="create-outline" color="success" [routerLink]="'/edit-user/' + usuario.id"></ion-icon>
        <ion-icon slot="end" name="trash-outline" color="danger" click="deleteUser()"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/edit-user/0">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>