<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Study App - Topicos
    </ion-title>
    <ion-buttons slot="end" (click)="logoutUser()">
      <ion-icon size="large" name="log-out-outline" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-accordion-group [multiple]="true" [value]="['first', 'third']">
    <ion-accordion value="first" *ngFor="let topico of topicos">
      <ion-item slot="header" color="light">
        <ion-label class="ion-color-primary">{{topico.id}} - {{topico.name}}</ion-label>
        <ion-icon slot="end" name="create-outline" color="success" [routerLink]="'/edit-topic/' + topico.id"></ion-icon>
        <ion-icon slot="end" name="trash-outline" color="danger"></ion-icon>
      </ion-item>
      <div class="ion-padding" slot="content">Fecha de creacion: {{topico.create_date}}</div>
      <div class="ion-padding" slot="content">Orden: {{topico.order}} | Prioridad: {{topico.priority}}</div>
      <div class="ion-padding" slot="content">Color: {{topico.color}}</div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/edit-topic/0">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
